html,
body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
em,
textarea,
p,
th,
td {
	margin: 0px;
	padding: 0px;
}

/*
去除图片底部间隙
*/
img {
	vertical-align: middle;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	font-family: font1;
}


.clearfix:after {
	overflow: hidden;
	clear: both;
	display: block;
	height: 0;
	content: "\20"
}

/*它就是空格，*/
.clearfix {
	*zoom: 1;
}

.clear {
	clear: both;
	width: 0;
	height: 0;
	overflow: hidden;
	line-height: 0;
}

.clearBoth {
	clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.ellipsis {
	overflow: hidden;
	/* 规定是否换行 例为不换行 */
	white-space: nowrap;
	/* 超出部分用省略号代替 */
	text-overflow: ellipsis;

}



html {
	font-size: 50px;
}

body {
	font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
	color: #333;
	background-color: #fff;
	min-width: 375px;


}

@font-face {
	font-family: font1;
	src: url(字体/font1.ttf);
}

@media screen and (min-width: 768px) {
	html {
		font-size: 100px;
	}
}
